@import url(https://fonts.googleapis.com/css?family=Cabin);:root {
  font: 18px /1.5 'Cabin', 'sans-serif';
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: 35vw auto;
    grid-template-rows: 100%;
    margin: 0 5vw;
  }

  .columna1 {
    position: fixed;
    top: 90px;
    width: 35vw;
  }

  .twiteos {
    grid-column-start: 2;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 350px auto;
    margin: 0 10vw;
  }

  .columna1 {
    max-width: 350px;
  }

  .twiteos {
    max-width: 650px;
  }
}


.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 100%;
  margin: 20px 15px;
}


a {
  color: inherit;
}

body{

  background-color: #58005826; 
}

}

.clear {
  clear: both;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 8px 20px;
  background-color: #6845d0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;


  }

.logoimperial {

    height: 30px;
    width: 30px;
    padding-top: 3px;
   
}



.navbar .navbar__item {
  font-size: 1.5rem;
  color: white;
  padding: 0 10px;
}

.navbar .search__box {

  font-size: 1em;
  color: #651df27d;
  width: 100%;
  margin-bottom: 5px;
  border: none;
  border: 1px solid #6845d0;
  border-radius: 10px;
  padding: 5px 5px;
  
}

.navbar .search__box::-webkit-input-placeholder {
  color: #f2d01d;
}

.navbar .search__box:-ms-input-placeholder {
  color: ##f2d01d;
}

.navbar .search__box::-ms-input-placeholder {
  color: ##f2d01d;
}

.navbar .search__box::placeholder {
  color: ##f2d01d;
}

.columna1 .crearTwit {

  width: 100%;
  border-radius: 25px;
  padding: 15px 0;
  background-color: #651df27d;
  text-align: center;
  border: 1px solid #6845d0;
}


.columna1 .crearTwit__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 51%;
}

.columna1 .crearTwit__file {
  display: block;
  width: 100%;
  border: none;
  padding: 3px 15px;
  background-color: #6845d0;
  color: white;
  cursor: pointer;
}

.columna1 .crearTwit__file option {
  background-color: #6845d0;
  color: white;
}

.columna1 .crearTwit__texto {
  resize: vertical;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  text-align: center;
  padding-top: 20px;
  font-size: 1rem;
  color: grey;
}

.columna1 .crearTwit__texto::-webkit-input-placeholder {
  color: #f2d01d;
}

.columna1 .crearTwit__texto:-ms-input-placeholder {
  color: black;
}

.columna1 .crearTwit__texto::-ms-input-placeholder {
  color: black;
}

.columna1 .crearTwit__texto::placeholder {
  color: grey;
}

.columna1 .crearTwit__boton {
  width: 150px;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 0;
  background-color: #6845d0;
  color: white;
  font-size: 1rem;
}

.columna1 .crearTwit__boton:hover {
  border-color: white;
  background-color: #2e1382;
}

.twit {
  
}


.twit__image {
  position: relative; 
  top: 64px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.twit__border {
  padding-top: 60px;
  border-radius: 25px;
  border: 1px solid #6845d0;
  background-color: #cba4da;
}

.twit__contenido {
  color: white;
  margin: 0 10px;
  border-bottom: 1px solid grey;
  padding: 15px;
  border-radius: 15px 15px 0 0;
  background-color: #6845d0;
  
}

.twit__detalles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 20px 10px;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  background-color: #EBE8EA;
 
}

.twit__count {
  color: grey;
  padding-right: 5px;
}

.twit__eliminar {
  margin-left: auto;
  margin-right: 10px;
  color: #e2bee4;
}

.twit__heart:hover {
  text-shadow: 0 0 5px #AD0600;
}

.twit__fav {
  color: #AD0600;
}

.panel-footer{
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 15px 15px 0 0;
  background-color: #6845d0; 
  width: 100%;
  margin-top: 50px;
  position:fixed;
  left:0px;
  bottom:0px;
  font-size: 0.5rem;

}

.btn{
  width: 150px;
  margin-top: 10px;
  border: 1px;
  border-radius: 25px;
  padding: 10px 0;
  background-color: #6845d0;
  color: white;
}


